p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
}

/* Title Font */
h1 {
  font-family: 'Vollkorn', serif;
  font-size: 13vmin;
}

/* Tagline */
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18pt;
}

/* Section Titles */
h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20pt;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15pt;
}

li {
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
}

body {
  padding-top: 50px;
}

.navName{
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
}

.jumbotron {
    margin: 0;
    height: 100vh;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.header {
  /* Gives the background shadowy effect */
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url('/assets/images/wallpaper.jpg') no-repeat center;
  /* Fills the entire screen with the background image */
  background-size: cover;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  /* Centers the jumbotron text */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* First Block */
.about {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  color: black;
}

/* Second Block */
.skills {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f5f5f0;
  color: black;
}

/* Third Block */
.projects {
  background-color: white;
}

/* Last Block */
.contact {
  background-color: #f5f5f0;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-family: 'Vollkorn', serif;
}

.img-responsive{
  max-width: 60%; /* or to whatever you want here */
  max-height: 60%; /* or to whatever you want here */
}
